.postHeader {
  font-weight: 600;
  background-color: white;
}

.muted {
  font-size: small;
  font-weight: 300;
  margin-left: 1em;
}
.cardImgFooterIcon {
  margin-right: 1em;
}
.more {
  display: flex;
  justify-content: flex-end;
}