.rightbar {
  flex: 3.5;
}
.birthdayContainer {
  p {
    line-height: 1.25em;
    font-weight: 300;
    b {
      font-weight: 600;
    }
  }
  .birthdayLogo {
    width: 2em;
    height: 2em;
  }
}
.friendListContainer {
  h5 {
    padding-top: 1em;
  }
}
.friendsContainer {
  cursor: pointer;
  padding: 0;
}

.friendsImage {
  height: 6em;
  width: 6em;
  border-radius: 5px;
  object-fit: cover;
}
.friendsUsername {
  font-size: small;
  margin-bottom: 0;
}


